<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <title>正式数据</title>
  ${require("html-loader?interpolate!./_assets.html")}
  <style>
    .el-breadcrumb__inner,
        .el-breadcrumb__separator {
            color: #4d4d4d!important;
            font-size: 16px!important;
        }

        .el-breadcrumb__item[aria-current="page"] .el-breadcrumb__inner {
            color: #1a1a1a!important;
        }

        .el-tabs__header {
            margin-bottom: 0!important;
        }

        .exam-content {
            margin-top: 20px;
        }

        .exam-content .el-tabs__content {
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }


        .search-container .el-form-item--mini.el-form-item,
        .search-container .el-form-item--small.el-form-item {
            margin-bottom: 0;
        }

        .page-container{
          padding-top: 16px;
          padding-bottom: 16px;
        }

        .list-statistics {
            font-size: 14px;
            color: #1a1a1a;
            line-height: 40px;
            padding-left: 12px;
            padding-right: 12px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }
        [v-cloak]{
          display: none;
        }
       .muted{
         color: #a7a7a7
       }
    </style>
</head>

<body>
  <div id="vue_app" v-cloak>
    ${require("html-loader?interpolate!./_header.html")}
    <el-container>
      <el-container class="exam-container">
        ${require("html-loader?interpolate!./_sideNav.html")}
        <el-main>
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>考试数据包管理</el-breadcrumb-item>
            <el-breadcrumb-item>{{pageTitle}}</el-breadcrumb-item>
          </el-breadcrumb>
          <div class='exam-content'>
            <el-tabs v-model="activeName" type="card">
              <el-tab-pane label="公共数据" name="first">
                <template>
                  <el-table :data="commonDataList">
                    <el-table-column fixed prop="DataName" label="数据名称" align="left">
                    </el-table-column>
                    <el-table-column prop="DataSize" label="数据大小" align="left">
                      <template slot-scope="scope" v-if="[2].indexOf(scope.row.DataCreateStatus)>-1&&[1,2].indexOf(scope.row.DataState)>-1">
                        {{ scope.row.DataSize }}
                      </template>
                    </el-table-column>
                    <el-table-column label="最新生成时间" align="left">
                      <template slot-scope="scope" v-if="[2].indexOf(scope.row.DataCreateStatus)>-1&&[1,2].indexOf(scope.row.DataState)>-1">
                        {{ scope.row.LastCreateDataTime }}
                      </template>
                    </el-table-column>
                    <el-table-column label="操作" align="left">
                      <template slot-scope="scope">
                        <span v-if="[3].indexOf(scope.row.DataState)>-1" class="muted">已失效</span>
                        <template v-else>
                          <span v-if="[3].indexOf(scope.row.DataCreateStatus)>-1">失败，请重新</span>
                          <el-button v-if="[2,3,4].indexOf(scope.row.DataCreateStatus)>-1" @click.native.prevent="generateCommonData(scope.row.DataType)"
                            type="text">
                            生成
                          </el-button>
                          <el-button v-if="[2].indexOf(scope.row.DataCreateStatus)>-1" @click.native.prevent="handleExportCommonDataBtnClick(scope.row.DataType)"
                            type="text">
                            导出
                          </el-button>
                          <el-button v-if="[2].indexOf(scope.row.DataType)>-1&&[2].indexOf(scope.row.DataCreateStatus)>-1&&[2].indexOf(scope.row.DataState)>-1"
                            @click.native.prevent="enableCommonData()" type="text">
                            启用
                          </el-button>
                          <span v-if="[1].indexOf(scope.row.DataCreateStatus)>-1">生成中</span>
                        </template>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-tab-pane>
              <el-tab-pane label="考点数据" name="second">
                <div class="search-container">
                  <el-form :inline="true" :model="schoolDataSearchParam" class="demo-form-inline" size="small">
                    <el-form-item label="地市/县区">
                      <el-select @change="handleCityChange" v-model="schoolDataSearchParam.CityId" placeholder="请选择地市"
                        style="width:110px;">
                        <el-option v-for="item in cityList" :key="item.CityId" :label="item.CityName" :value="item.CityId">
                        </el-option>
                      </el-select>
                      <el-select :disabled="zoneList.length==0" v-model="schoolDataSearchParam.ZoneId" placeholder="请选择县区"
                        style="width:110px;">
                        <el-option v-for="item in zoneList" :key="item.ZoneId" :label="item.ZoneName" :value="item.ZoneId">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item>
                      <el-input v-model="schoolDataSearchParam.SchoolCode" placeholder="请输入考点代码" style="width:130px;"></el-input>
                    </el-form-item>
                    <el-form-item>
                      <el-input v-model="schoolDataSearchParam.SchoolName" placeholder="请输入考点名称" style="width:130px;"></el-input>
                    </el-form-item>
                    <el-form-item style="float:right;">
                      <el-button type="primary" @click="handleSearchBtnClick()">查询</el-button>
                      <el-button type="primary" @click="handleGenerateAllBtnClick()">生成考点数据</el-button>
                      <el-button type="primary" @click="handleExportAllSchoolDataBtnClick">导出考点数据</el-button>
                    </el-form-item>
                  </el-form>
                </div>
                <div class="list-statistics">
                  考点数据生成情况：<span style="color:#fd3131">{{CreatedSchoolTotal}}</span> / {{SchoolTotal}}
                </div>
                <template>
                  <el-table :data="schoolDataList">
                    <el-table-column prop="OrderIndex" label="序号" align="center" width="50"></el-table-column>
                    <el-table-column prop="CityName" label="地市" align="left" width="100"></el-table-column>
                    <el-table-column prop="ZoneName" label="县区" align="left" width="100"></el-table-column>
                    <el-table-column prop="SchoolCode" show-overflow-tooltip label="考点代码" align="left"></el-table-column>
                    <el-table-column prop="SchoolName" show-overflow-tooltip label="考点名称" align="left"></el-table-column>
                    <el-table-column label="最新生成时间" align="left" width="150">
                      <template slot-scope="scope" v-if="[2].indexOf(scope.row.DataCreateStatus)>-1">{{
                        scope.row.LastCreateTime }}</template>
                    </el-table-column>
                    <el-table-column label="操作" align="left" width="200">
                      <template slot-scope="scope">
                        <span v-if="[3].indexOf(scope.row.DataCreateStatus)>-1">失败，请重新</span>
                        <el-button v-if="[2,3,4].indexOf(scope.row.DataCreateStatus)>-1" @click.native.prevent="handleRowGenerateBtnClick(scope.row.SchoolId)"
                          type="text">生成</el-button>
                        <el-button v-if="[2].indexOf(scope.row.DataCreateStatus)>-1" @click.native.prevent="handleExportSchoolDataBtnClick(scope.row.SchoolId)"
                          type="text">导出</el-button>
                        <!-- <a v-if="[2].indexOf(scope.row.DataCreateStatus)>-1" :href="'/DataPackage/ExportSchoolData?SchoolId='+scope.row.SchoolId">a导出</a> -->
                        <span v-if="[1].indexOf(scope.row.DataCreateStatus)>-1">生成中</span>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
                <template>
                  <div class="page-container">
                    <el-pagination @size-change="handleSizeChange" :background="true" @current-change="handleCurrentChange"
                      :current-page="schoolData.currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="schoolData.pageSize"
                      layout="slot,->,prev,pager,next,sizes,jumper" :total="schoolData.total">
                      <span class="el-pagination__total">显示{{(schoolData.currentPage-1)*schoolData.pageSize+1}}-{{schoolData.currentPage*schoolData.pageSize>schoolData.total?schoolData.total:schoolData.currentPage*schoolData.pageSize}}，
                        共{{schoolData.total}}记录
                      </span>
                    </el-pagination>
                  </div>
                </template>
              </el-tab-pane>
            </el-tabs>
          </div>
        </el-main>
      </el-container>
    </el-container>
    ${require("html-loader?interpolate!./_footer.html")}
  </div>
  <div id="react_app"></div>
</body>

</html>
